<!-- HEADER -->
<%- include('./includes/header1.ejs'); %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

  <!-- Notification -->

  <div class="popup">
    <button id="close">&times;</button>
    <h2>Owl Swap</h2>
    <p>
      At this time we are working to give the best experience to our users. 
    </p>
    
  </div>
  <!-- Notification end -->


  <div class="currency-change-cards">
    <div class="poolstitle">Pools</div>
    <div class="newposition">
      <div id="buttonNew" class="text-wallet">
        + New Position
      </div>
    </div>



    <main class="containerswap">
      <div class="container-arc">

        <div class="sc-1kykgp9-2 kINLpz">
          <div class="sc-1kykgp9-2 hinWps" style="width: 100%;">
            <div class="sc-bczRLJ sc-nrd8cx-0 sc-nrd8cx-1 sc-sqfwcm-1 gEwayx RMzfn frnZMK lpqsBh">

              <div class="sc-bczRLJ sc-nrd8cx-0 sc-nrd8cx-4 sc-sqfwcm-2 hJYFVB gBBPoP leSroW dFumht">

              </div>

              <div class="actives-l" style="text-align:center">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                  class="svgcolor">
                  <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                  <path
                    d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                  </path>
                </svg>
                <div class="actives">Your active V3 liquidity positions will appear here.

                </div>
                
              </div>

            </div>
          </div>
    </main>
  </div>



  <!-- FOOTER -->z
  <%- include('./includes/footer.ejs'); %>