<!-- HEADER -->
<%- include('./includes/header2.ejs'); %>


<div class="popup">
  <button id="close">&times;</button>
  <h2>Owl Swap</h2>
  <p>
    At this time we are working to give the best experience to our users. 
  </p>
  
</div>
  

  <div class="currency-change-cards">
    <div class="poolstitle">Proposals</div>
    <div class="newposition">
      <div id="buttonNew" class="text-wallet">
        + New proposal
      </div>
    </div>



    <main class="containerswap">
      <div class="container-arc">

        <div class="sc-1kykgp9-2 kINLpz">
          <div class="sc-1kykgp9-2 hinWps" style="width: 100%;">
            <div class="sc-bczRLJ sc-nrd8cx-0 sc-nrd8cx-1 sc-sqfwcm-1 gEwayx RMzfn frnZMK lpqsBh">

              <div class="sc-bczRLJ sc-nrd8cx-0 sc-nrd8cx-4 sc-sqfwcm-2 hJYFVB gBBPoP leSroW dFumht">

              </div>

              <a class="textL bojwjU"><span class="textL gyFpxT">1.3</span><span
                  class="textL Dzbgo">Launch of Liquidity Pools</span>
                   <span id="signVote" class="signF textL gdqenK">Sign</span></a>

              <a class="sc-uxt6ak-2 bojwjU"><span class="sc-uxt6ak-3 gyFpxT">1.2</span><span
                  class="sc-uxt6ak-4 Dzbgo">Gift Token Release</span><span
                  class="sc-1z0b5a1-0 gdqenK">Executed</span></a>

                  <a class="sc-uxt6ak-2 bojwjU"><span class="sc-uxt6ak-3 gyFpxT">1.1</span><span
                    class="sc-uxt6ak-4 Dzbgo">Polygon network support</span><span
                    class="sc-1z0b5a1-0 gdqenK">Executed</span></a>


            </div>
          </div>
    </main>
  </div>




  <!-- FOOTER -->z
  <%- include('./includes/footer.ejs'); %>